<div id="sider">
    <div class="mySlides">
      <img src="../images/slider1.jpg" style="width:100%;height:fit-content;">
    </div>
    <div class="mySlides">
      <img src="../images/slide2.jpg" style="width:100%;height: fit-content;">
    </div>
    <div class="mySlides">
      <img src="../images/slider3.jpg" style="width:100%;height:fit-content;">
    </div>
  </div>